<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
	
	<head>
		<script type="text/javascript"
			src="https://code.jquery.com/jquery-2.2.4.js"></script>
		<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
			integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
			crossorigin="anonymous"></script>
		<script src="https://static.filestackapi.com/v3/filestack.js"></script>	
		<script type="text/javascript" src="/js/funciones.js"></script>
	</head>
	<body>
				<div class="col" layout:fragment="contenido">
				<form class="form-horizontal" action="/a&ntilde;adir" method="POST">
				  <fieldset>
				    <div id="legend">
				      <legend class="">A&ntilde;adir una Cancion</legend>
				    </div>
				    <div class="control-group">
				      <!-- Nombre de Cancion -->
				      <label class="control-label" for="nombrecancion">Nombre de la Cancion</label>
				      <div class="controls">
				      	<p th:classappend="${errorNombre}" th:text="${mensajeErrorNombre}"></p>
				        <input type="text" id="username" name="cancionNombre" placeholder="" class="input-xlarge" th:value="${nombreAnterior}"></input>
				   		<p></p>
				      </div>
				    </div>
				 
				    <div class="control-group">
				      <!-- Tipo de Cancion -->
				      <label class="control-label" for="tipo">Tipo</label>
				      <div class="controls">
				      	<p th:classappend="${errorTipo}" th:text="${mensajeErrorTipo}"></p>
				        <select name="tipo" class="input-xlarge">
				        	<option value="error">--Seleccione una Opcion--</option>
				        	<option value="OP">Opening</option>
				        	<option value="ED">Ending</option>
				        	<option value="OST">OST	</option>
				        </select>
				        <p th:classappend="${errorNumero}" th:text="${mensajeErrorNumero}"></p>
				        <p>Numero de OP/ED (En caso de ser OST ignorar este campo)</p>
				        <input type="number" min="1" width="2" max="99" name="numeroTipo" value="1"></input>
				        <p></p>
				      </div>
				    </div>
				 
				    <div class="control-group">
				      <!-- Anime -->
				      <label class="control-label" for="anime">Anime al que Pertenece</label>
				      <div class="controls">
				      	<p th:classappend="${errorAnime}" th:text="${mensajeErrorAnime}"></p>
						<select name="anime">
							<option th:value="error">--Seleccione una Opcion--</option>
							<option th:each="anime : ${listaanimes}" th:value="${anime.nombre}" th:text="${anime.nombre}"></option>
						</select>
						<p></p>
				      </div>
				    </div>
				 
				    <div class="control-group">
				      <!-- Banda -->
				      <label class="control-label"  for="banda">Banda/Cantante/Autor</label>
				      <div class="controls">
				  	    <p th:classappend="${errorTipo}" th:text="${mensajeErrorTipo}"></p>    
				        <input type="text" id="password_confirm" name="banda" class="input-xlarge" th:value="${bandaAnterior}"></input>
				        <p class="help-block"></p>
				      </div>
				    </div>
				    
				    <div class="control-group" style="float:left;">
				      <!-- Archivo -->
				      <label class="control-label"  for="banda">Archivo de Subtitulos</label>
				      <div class="controls">
				  	    <p th:classappend="${errorArchivo}" th:text="${mensajeErrorArchivo}"></p>    
				        <input id="inputUrlImagen" name="url" type="hidden" placeholder="Url Imagen"></input>
						<button id="botonSubirImagen" class="btn btn-success" type="button">Subir Archivo</button>
				 		<button class="btn btn-success">Enviar...</button>
				 		<p></p>
				 		<br></br>
				        <p class="help-block"></p>
				      </div>
				    </div>
				  </fieldset>
				</form>
			</div>
	</body>
</html>